<a routerLink="/movies/{{item.id}}" [ngClass]="{item:true}">
    <div [ngClass]="{item__img:true}">
        <img src="{{item.poster_path}}" alt="test">
    </div>
    <div [ngClass]="{item__info:true}">
        <div [ngClass]="{item__column:true}">
            <div [ngClass]="{item__title:true}">
                <h3>{{item.title}}</h3>
            </div>
            <div [ngClass]="{item__category:true}">
                <span>{{item.genres}}</span>
            </div>
        </div>
        <div [ngClass]="{item__column:true}">
            <div [ngClass]="{item__year:true}">
                {{item.release_date | date:'yyyy'}}
            </div>
        </div>
    </div>
</a>